
.contact-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-gap: 2rem;
    margin: 2rem 0;
    padding: 2rem 5rem;
}


.profile-img {
    height: 15rem;
}

.contact {
    grid-column: span 3;
}

.contact-title {
    text-transform: capitalize;
    font-family: "Times New Roman";
    font-size: 1.5rem;
    font-weight: 800;
}

.contact-info p {
    margin: 0.5rem 1rem;
}

.form-title {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    font-family: "Times New Roman";
}

.form-container {
    text-transform: capitalize;
}

.form-container > input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    background: transparent;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    transition: all 0.3s;
}
footer{
    text-align: center;
    display: grid;
}.links{
     margin-left: auto;
     margin-right: auto;
     padding-left: 0;
     list-style: none;
     cursor : pointer;
 }

.links li{
    float: left;
    padding: 0 1rem;
}

.icon{
    gap: 25px;
    height: 2.5rem;
}
footer p{
    color: black;
}


@media only screen and (max-width:50rem) {
    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "form"
            "form-title"
            "info"
            "touch";
        margin: 0;
        padding: 2rem;
    }

    .touch {
        grid-area: touch;
    }

    .form-title{
        font-size: 1.5rem;

    }

    .profile-img{
        height: 8rem;
    }

    .contact-info {
        display: flex;
        grid-area: info;
    }

    .contact-title {
        font-size: 1rem;
    }

    .form-container {
        grid-area: form;
    }

    .input{
        max-width: 100%;
    }


}